*{
    color: black;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #85144B;
  padding:0px;  
  padding-top:10px;  
}
h1{
    
  display: flex;
  justify-content: center;
  align-items: center;
    color: white;
}
#insertReactHere{
  display: flex;
  justify-content: center;
  align-items: center;
 padding-bottom: 15%;
}
 
#lille{
   float: right;
   position:absolute; 
   bottom:0;
    right:0;
    margin-right:5px;  
}
label{
    color: white;
}
.app {
     border-radius: 25px;
}
.currency{
     border-radius: 25px;
}
input{
     border-radius: 10px;
}
